* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  background: url("img/BG.png") no-repeat;
  background-size: 100%;
  position: relative;
  /* height: 700px; */
  padding-bottom: 150px;
  z-index: 9;
}

.spin-box-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 130px;
  overflow-y: hidden;
}

.spin-box-container img {
  display: block;
  width: 100%;
  height: 130px;
}

.spin-box-slide,
.spin-box-slide-2,
.spin-box-slide-3 {
  width: 17%;
  height: 390px;
}

.spin-box-slide {
  position: absolute;
  left: 130px;
}

.spin-box-slide-2 {
  position: absolute;
  left: 420px;
}

.spin-box-slide-3 {
  margin-left: 465px;
}
/* .spin-box-slide-3 {
  position: absolute;
  right: 0px;
} */

.transformAnimation {
  transition: 7s all;
}

.btnWrap {
  position: absolute;
  right: 55px;
  top: 277px;
  width: 100px;
}

.btn {
  border: none;
  outline: none;
  background: url("img/BTN_Spin.png") no-repeat;
  width: 98px;
  height: 98px;
}

.btn_d {
  background: url("img/BTN_Spin_d.png") no-repeat;
}
/* .btn img {
  width: 120%;
} */

.img-hide {
  display: none;
}

.results {
  background: #004750;
  width: 12%;
  padding: 1px 0 1px 20px;
  position: absolute;
  right: 35px;
  top: 440px;
  text-transform: uppercase;
  font-weight: bold;
  color: yellow;
  font-size: 13px;
}

.loading {
  background: #000;
  color: #fff;
  width: 100%;
  height: 700px;
  padding-top: 15%;
  margin: 0 auto;
  position: absolute;
  z-index: 10;
  top: 0;
}

.loading p {
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
}

.math {
  background: #004750;
  width: 15%;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 100px;
  color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.math input {
  width: 100%;
  background: none;
  color: #fff;
}

.rate {
  padding-top: 10px;
}

.bet {
  padding-top: 10px;
  text-align: center;
}
